In [1]:
import pandas as pd

PhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\PhoneCallActivity.csv")

PhoneCall['Activity Date'] = pd.to_datetime(PhoneCall['Activity Date'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

PhoneCall = PhoneCall[['Opportunity Id','Activity Event Name','Activity Date','Call Status','Call Outcome','Drop Out Reason','Owner (User Name)']]

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\1891192453.py:3: DtypeWarning: Columns (2,15,17,19,20,21,22,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  PhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\PhoneCallActivity.csv")

In [2]:
BookingPhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\BookingPhoneCallActivity.csv")

BookingPhoneCall['Activity Date'] = pd.to_datetime(BookingPhoneCall['Activity Date'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

BookingPhoneCall = BookingPhoneCall[['Opportunity Id', 'Activity Event Name','Activity Date', 'Call Status','Booking Status', 'Drop Out Reason','Owner (User Name)']]

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\2065059340.py:1: DtypeWarning: Columns (2,15,18,25,27,28,29,31,32,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  BookingPhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\BookingPhoneCallActivity.csv")

In [3]:
RetailPhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\RetailPhoneCallActivity.csv")

RetailPhoneCall['Activity Date'] = pd.to_datetime(RetailPhoneCall['Activity Date'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

RetailPhoneCall = RetailPhoneCall[['Opportunity Id','Activity Event Name','Activity Date','Call Status','Retail Status','Drop Out Reason','Owner (User Name)' ]]

In [4]:
TestRidePhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\TestRidePhoneCallActivity.csv")

TestRidePhoneCall['Activity Date'] = pd.to_datetime(TestRidePhoneCall['Activity Date'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

TestRidePhoneCall = TestRidePhoneCall[['Opportunity Id','Activity Event Name','Activity Date','Call Status','Test Ride Status','Drop Out Reason','Owner (User Name)' ]]

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\1459494105.py:1: DtypeWarning: Columns (2,9,11,12,13,21,30,36) have mixed types. Specify dtype option on import or set low_memory=False.
  TestRidePhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\TestRidePhoneCallActivity.csv")

In [5]:
DeliveryPhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\DeliveryPhoneCallActivity.csv")

DeliveryPhoneCall['Activity Date'] = pd.to_datetime(DeliveryPhoneCall['Activity Date'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

DeliveryPhoneCall = DeliveryPhoneCall[['Opportunity Id','Activity Event Name','Activity Date','Delivery Status','Drop Out Reason','Owner (User Name)']]

In [6]:
FinPhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\FinPhoneCallActivity.csv")

FinPhoneCall['Activity Date'] = pd.to_datetime(FinPhoneCall['Activity Date'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

FinPhoneCall = FinPhoneCall[['Opportunity Id','Activity Event Name','Activity Date','Call Status','Call Outcome','Owner (User Name)']]

In [7]:
CogentPhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\CogentPhoneCallActivity.csv")

CogentPhoneCall['Activity Date'] = pd.to_datetime(CogentPhoneCall['Activity Date'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

CogentPhoneCall = CogentPhoneCall[['Opportunity Id','Activity Event Name','Activity Date','Call Status','Call Outcome','Drop Out Reason','Owner (User Name)']]

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\784755738.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  CogentPhoneCall = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\CogentPhoneCallActivity.csv")

In [8]:
import pandas as pd

Oppid = pd.concat([BookingPhoneCall['Opportunity Id'],CogentPhoneCall['Opportunity Id'], DeliveryPhoneCall['Opportunity Id'], FinPhoneCall['Opportunity Id'], PhoneCall['Opportunity Id'], TestRidePhoneCall['Opportunity Id'], RetailPhoneCall['Opportunity Id']], ignore_index=True)

In [9]:
ActivityEventName = pd.concat([BookingPhoneCall['Activity Event Name'],CogentPhoneCall['Activity Event Name'],DeliveryPhoneCall['Activity Event Name'],FinPhoneCall['Activity Event Name'],PhoneCall['Activity Event Name'],TestRidePhoneCall['Activity Event Name'],RetailPhoneCall['Activity Event Name']], ignore_index=False)

In [10]:
ActivityDate = pd.concat([BookingPhoneCall['Activity Date'],CogentPhoneCall['Activity Date'],DeliveryPhoneCall['Activity Date'],FinPhoneCall['Activity Date'],PhoneCall['Activity Date'],TestRidePhoneCall['Activity Date'],RetailPhoneCall['Activity Date']], ignore_index=False)

In [11]:
DeliveryPhoneCall.insert(loc=1, column='Call Status', value=None)

CallStatus = pd.concat([BookingPhoneCall['Call Status'],CogentPhoneCall['Call Status'],DeliveryPhoneCall['Call Status'],FinPhoneCall['Call Status'],PhoneCall['Call Status'],TestRidePhoneCall['Call Status'],RetailPhoneCall['Call Status']], ignore_index=False)

In [12]:
CallOutcome = pd.concat([BookingPhoneCall['Booking Status'],CogentPhoneCall['Call Outcome'],DeliveryPhoneCall['Delivery Status'],FinPhoneCall['Call Outcome'],PhoneCall['Call Outcome'],TestRidePhoneCall['Test Ride Status'],RetailPhoneCall['Retail Status']], ignore_index=False)

In [13]:
FinPhoneCall.insert(loc=1, column='Drop Out Reason', value=None)
DropoutReason = pd.concat([BookingPhoneCall['Drop Out Reason'],CogentPhoneCall['Drop Out Reason'],DeliveryPhoneCall['Drop Out Reason'],FinPhoneCall['Drop Out Reason'],PhoneCall['Drop Out Reason'],TestRidePhoneCall['Drop Out Reason'],RetailPhoneCall['Drop Out Reason']], ignore_index=False)

In [14]:
Owner = pd.concat([BookingPhoneCall['Owner (User Name)'],CogentPhoneCall['Owner (User Name)'],DeliveryPhoneCall['Owner (User Name)'],FinPhoneCall['Owner (User Name)'],PhoneCall['Owner (User Name)'],TestRidePhoneCall['Owner (User Name)'],RetailPhoneCall['Owner (User Name)']], ignore_index=False)

In [15]:
import pandas as pd

# Sample data (assuming you already have these DataFrames)
# merged_df, merged_df1, and merged_df2

# Reset the index of the DataFrames
Oppid.reset_index(drop=True, inplace=True)
ActivityEventName.reset_index(drop=True, inplace=True)
ActivityDate.reset_index(drop=True, inplace=True)
CallStatus.reset_index(drop=True, inplace=True)
CallOutcome.reset_index(drop=True, inplace=True)
DropoutReason.reset_index(drop=True, inplace=True)
Owner.reset_index(drop=True, inplace=True)
# Combine the three DataFrames horizontally
combined_df = pd.concat([Oppid, ActivityEventName, ActivityDate,CallStatus,CallOutcome,DropoutReason,Owner], axis=1)

# Display the combined DataFrame
print(combined_df)

                              Opportunity Id Activity Event Name  \
0       06155d68-8289-4d4a-888b-3f47263239ca  Booking Phone Call
1       47abb6f8-89d2-4a01-ba75-8e2594c15278  Booking Phone Call
2       abb31dcb-d7f7-4b36-a970-90bc3f5c89b5  Booking Phone Call
3       29891d60-72cd-46c1-b5d3-f402c7330d21  Booking Phone Call
4       472db3ff-0925-4f7a-89c9-df20aad21d81  Booking Phone Call
...                                      ...                 ...
487384  47a34744-af54-42f3-9ff9-50fe67456178   Retail Phone Call
487385  2c05a33f-61fb-4fac-bf64-789ee53f820b   Retail Phone Call
487386  eb26c871-770c-4bce-bb3c-1dd84757c17b   Retail Phone Call
487387  eb26c871-770c-4bce-bb3c-1dd84757c17b   Retail Phone Call
487388  184cc17d-48df-4f83-86c7-053712ede9af   Retail Phone Call

                 Activity Date    Call Status                         0  \
0       06/23/2024 07:40:56 PM      Connected        Schedule Test Ride
1       06/23/2024 07:12:52 PM  Not Connected           Call Unanswered
2       06/23/2024 07:10:37 PM  Not Connected           Call Unanswered
3       06/23/2024 07:09:59 PM  Not Connected           Call Unanswered
4       06/23/2024 07:09:49 PM      Connected     Interested in Booking
...                        ...            ...                       ...
487384  06/22/2023 07:12:54 PM      Connected               Retail Done
487385  06/22/2023 06:41:34 PM  Not Connected           Call Unanswered
487386  06/22/2023 06:22:15 PM      Connected      Interested in Buying
487387  06/22/2023 06:21:37 PM      Connected      Interested in Buying
487388  06/22/2023 12:49:46 PM      Connected  Not Interested in Buying

       Drop Out Reason Owner (User Name)
0                  NaN               NaN
1                  NaN               NaN
2                  NaN               NaN
3                  NaN               NaN
4                  NaN               NaN
...                ...               ...
487384             NaN               NaN
487385             NaN               NaN
487386             NaN               NaN
487387             NaN               NaN
487388             NaN               NaN

[487389 rows x 7 columns]

In [16]:
combined_df.rename(columns={0: 'Call Outcome'}, inplace=True)

combined_df

,Opportunity Id,Activity Event Name,Activity Date,Call Status,Call Outcome,Drop Out Reason,Owner (User Name)
0,06155d68-8289-4d4a-888b-3f47263239ca,Booking Phone Call,06/23/2024 07:40:56 PM,Connected,Schedule Test Ride,NaN,NaN
1,47abb6f8-89d2-4a01-ba75-8e2594c15278,Booking Phone Call,06/23/2024 07:12:52 PM,Not Connected,Call Unanswered,NaN,NaN
2,abb31dcb-d7f7-4b36-a970-90bc3f5c89b5,Booking Phone Call,06/23/2024 07:10:37 PM,Not Connected,Call Unanswered,NaN,NaN
3,29891d60-72cd-46c1-b5d3-f402c7330d21,Booking Phone Call,06/23/2024 07:09:59 PM,Not Connected,Call Unanswered,NaN,NaN
4,472db3ff-0925-4f7a-89c9-df20aad21d81,Booking Phone Call,06/23/2024 07:09:49 PM,Connected,Interested in Booking,NaN,NaN
...,...,...,...,...,...,...,...
487384,47a34744-af54-42f3-9ff9-50fe67456178,Retail Phone Call,06/22/2023 07:12:54 PM,Connected,Retail Done,NaN,NaN
487385,2c05a33f-61fb-4fac-bf64-789ee53f820b,Retail Phone Call,06/22/2023 06:41:34 PM,Not Connected,Call Unanswered,NaN,NaN
487386,eb26c871-770c-4bce-bb3c-1dd84757c17b,Retail Phone Call,06/22/2023 06:22:15 PM,Connected,Interested in Buying,NaN,NaN
487387,eb26c871-770c-4bce-bb3c-1dd84757c17b,Retail Phone Call,06/22/2023 06:21:37 PM,Connected,Interested in Buying,NaN,NaN
487388,184cc17d-48df-4f83-86c7-053712ede9af,Retail Phone Call,06/22/2023 12:49:46 PM,Connected,Not Interested in Buying,NaN,NaN

In [17]:
combined_df = combined_df[~combined_df['Opportunity Id'].isnull() & (combined_df['Opportunity Id'] != '')]

# Convert the 'date' column to datetime format
combined_df['Activity Date'] = pd.to_datetime(combined_df['Activity Date'], format='%m/%d/%Y %I:%M:%S %p')

# Sort the DataFrame by 'date' in descending order
combined_df = combined_df.sort_values(by='Activity Date', ascending=False)

combined_df.to_excel("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\ALL ACTIVITY.xlsx")

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\1672869196.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Activity Date'] = pd.to_datetime(combined_df['Activity Date'], format='%m/%d/%Y %I:%M:%S %p')

# Now shorthen Leads dump & remove unnecessary columns

In [18]:
import pandas as pd

Oppdata = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f.csv")

Oppdata['Created On'] = pd.to_datetime(Oppdata['Created On'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

Oppdata['Booking Done on'] = pd.to_datetime(Oppdata['Booking Done on'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

Oppdata['Retail Done on'] = pd.to_datetime(Oppdata['Retail Done on'], errors='coerce').dt.strftime('%m/%d/%Y %I:%M:%S %p')

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\3648309487.py:3: DtypeWarning: Columns (2,19,23,24,25,28,31,32,34,35,36,39,42,43,48,51,52,53,55,56,57,58,59,62,63,66,67,68,69,71,72,74,76,77,81,83,84,86,87,88,90,91,92,93,94,95,96,98,99,100,101,102,103,104,105,106,108,109,110,111,112,113,114,115,116,117,118,119,120,122,123,124) have mixed types. Specify dtype option on import or set low_memory=False.
  Oppdata = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f.csv")

In [19]:
Oppdata = Oppdata[["Opportunity Id","Opportunity Name","Owner (User Name)","Owner (User Email)","Created On","Status","Stage","Opportunity Hub","Attended Status","Lead Main Stage","REV Opportunity Source","Booking Done on","Latest Activity Outcome","Retail Done on","Mobile Number","CC Transfer Status","CC Called Count","CC Calling Status","CC Calling Outcome","CC Calling Time","AutoID"]]

In [20]:
owners_to_exclude = ['Vishnu R Kashyap', 'Kanika Kanwar', 'Gurkirat Singh','Shivangi Yogi','Nitish Puri','Harendra Singh','Kanishk Sharma','Simrandeep Kaur','Joyeta Modak','Deepti Ila','Abhijit Chakraborty','Manoj Kanwar']
lead_stages_to_exclude = ['Lead', 'Raw Lead', 'Test Ride', '']

Oppdata = Oppdata[~(Oppdata['Owner (User Name)'].isin(owners_to_exclude) & Oppdata['Lead Main Stage'].isin(lead_stages_to_exclude))]

In [21]:
Oppdata = Oppdata[~((Oppdata['Opportunity Hub'] == 'REVOLT CENTRAL HUB') & (Oppdata['CC Transfer Status'].isna() | (Oppdata['CC Transfer Status'] == '')))]

In [22]:
exclude_conditions = (
    (Oppdata['Owner (User Name)'].isin(['Admin', 'System', 'System Admin'])) &
    (Oppdata['REV Opportunity Source'].isin(['Bike Dekho', 'Paid - Bike Dekho']))
)

# Filter out the rows that meet the exclusion criteria
Oppdata = Oppdata[~exclude_conditions]

In [23]:
Oppdata = Oppdata[Oppdata['REV Opportunity Source'].notna() & (Oppdata['REV Opportunity Source'] != '') &
                 Oppdata['Opportunity Hub'].notna() & (Oppdata['Opportunity Hub'] != '')]

In [24]:
# Function to extract category based on keywords
def categorize_source(source):
    if pd.isna(source):
        return 'Other'  # or any default category for NaN values
    elif 'Paid' in source:
        return 'Paid'
    elif 'CleverTap' in source:
        return 'Paid'
    elif 'Organic' in source:
        return 'Organic'
    elif 'Dealer Hub' in source:
        return 'Dealer Hub Walk In'
    elif 'Bike Dekho' in source:
        return 'Aggregators'
    else:
        return 'Other'

# Create a new column 'Category' based on 'rev source'
Oppdata['REV Source Type'] = Oppdata['REV Opportunity Source'].apply(categorize_source)

In [25]:
Oppdata.to_excel("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\BASEDATA.xlsx")

In [38]:
import pandas as pd

# Load the data from the Excel file
file_path = "C:\\Users\\rajat.kapoor\\Downloads\\DATA_MANAN.xlsx"
DD = pd.read_excel(file_path, sheet_name="Booking")

file_path = "C:\\Users\\rajat.kapoor\\Downloads\\DATA_MANAN.xlsx"
EE = pd.read_excel(file_path, sheet_name="Sheet1")

# Get the complete list of Opportunity Hubs
all_hubs = EE["Opportunity Hub"].unique()

# Pivot the DataFrame with TRCompleted_DCAT as columns and Opportunity Hub as rows
pivoted_df = DD.pivot_table(index="Opportunity Hub", columns="DCAT", aggfunc='size', fill_value=0)

# Ensure all hubs are present for the overall pivoted DataFrame
pivoted_df = pivoted_df.reindex(all_hubs, fill_value=0)

# Add an overall row
pivoted_df.loc['Overall'] = pivoted_df.sum()

# Show the pivoted DataFrame with overall count
print("\nPivoted DataFrame with Overall Count:")
print(pivoted_df)

# Separate DataFrames based on REV Source Type
rev_source_types = DD["REV Source Type"].unique()

# Dictionary to hold separate DataFrames
pivoted_dfs = {}

for rev_source in rev_source_types:
    filtered_df = DD[DD["REV Source Type"] == rev_source]
    pivoted_rev_df = filtered_df.pivot_table(index="Opportunity Hub", columns="DCAT", aggfunc='size', fill_value=0)
    
    # Ensure all hubs are present
    pivoted_rev_df = pivoted_rev_df.reindex(all_hubs, fill_value=0)
    
    # Add an overall row
    pivoted_rev_df.loc['Overall'] = pivoted_rev_df.sum()
    
    # Add the overall count of REV Source Type
    overall_count = len(filtered_df)
    pivoted_rev_df['REV Source Type Count'] = overall_count
    
    pivoted_dfs[rev_source] = pivoted_rev_df
    print(f"\nPivoted DataFrame for {rev_source} with Overall Count and All Hubs:")
    print(pivoted_rev_df)

# Optionally, combine all separate pivoted DataFrames into a single DataFrame for easier viewing or export
combined_df = pd.concat(pivoted_dfs, axis=0)

print("\nCombined DataFrame for all REV Source Types with Overall Count and All Hubs:")
print(combined_df)

combined_df.to_excel("C:\\Users\\rajat.kapoor\\Downloads\\REVSourceWise.xlsx")
pivoted_df.to_excel("C:\\Users\\rajat.kapoor\\Downloads\\CombinedDF.xlsx")

Pivoted DataFrame with Overall Count:
DCAT                        1-23APR  1-23JUN  1-23MAY
Opportunity Hub
REVOLT HUB FARIDABAD              4       12        6
REVOLT HUB GURGAON                8       18        4
REVOLT HUB DWARKA SEC 5           0        0        1
REVOLT HUB GUJRANWALA TOWN        4        2        3
REVOLT HUB KANTI NAGAR            8        0        0
...                             ...      ...      ...
REVOLT HUB KANNUR                 0        0        0
REVOLT HUB GODHRA                 0        6        3
REVOLT HUB CUTTACK                0        6        0
REVOLT HUB RANCHI                 0        6        0
Overall                         752      639      602

[156 rows x 3 columns]

Pivoted DataFrame for Organic with Overall Count and All Hubs:
DCAT                        1-23APR  1-23JUN  1-23MAY  REV Source Type Count
Opportunity Hub
REVOLT HUB FARIDABAD              0        0        0                    396
REVOLT HUB GURGAON                4        5        1                    396
REVOLT HUB DWARKA SEC 5           0        0        1                    396
REVOLT HUB GUJRANWALA TOWN        0        0        0                    396
REVOLT HUB KANTI NAGAR            2        0        0                    396
...                             ...      ...      ...                    ...
REVOLT HUB KANNUR                 0        0        0                    396
REVOLT HUB GODHRA                 0        3        0                    396
REVOLT HUB CUTTACK                0        1        0                    396
REVOLT HUB RANCHI                 0        2        0                    396
Overall                         162      126      108                    396

[156 rows x 4 columns]

Pivoted DataFrame for Paid with Overall Count and All Hubs:
DCAT                        1-23APR  1-23JUN  1-23MAY  REV Source Type Count
Opportunity Hub
REVOLT HUB FARIDABAD              3        1        4                    685
REVOLT HUB GURGAON                2        4        0                    685
REVOLT HUB DWARKA SEC 5           0        0        0                    685
REVOLT HUB GUJRANWALA TOWN        2        2        0                    685
REVOLT HUB KANTI NAGAR            4        0        0                    685
...                             ...      ...      ...                    ...
REVOLT HUB KANNUR                 0        0        0                    685
REVOLT HUB GODHRA                 0        2        1                    685
REVOLT HUB CUTTACK                0        0        0                    685
REVOLT HUB RANCHI                 0        2        0                    685
Overall                         289      198      197                    685

[156 rows x 4 columns]

Pivoted DataFrame for Dealer Hub Walk In with Overall Count and All Hubs:
DCAT                        1-23APR  1-23JUN  1-23MAY  REV Source Type Count
Opportunity Hub
REVOLT HUB FARIDABAD              1        9        2                    856
REVOLT HUB GURGAON                1        8        3                    856
REVOLT HUB DWARKA SEC 5           0        0        0                    856
REVOLT HUB GUJRANWALA TOWN        1        0        3                    856
REVOLT HUB KANTI NAGAR            2        0        0                    856
...                             ...      ...      ...                    ...
REVOLT HUB KANNUR                 0        0        0                    856
REVOLT HUB GODHRA                 0        1        2                    856
REVOLT HUB CUTTACK                0        5        0                    856
REVOLT HUB RANCHI                 0        2        0                    856
Overall                         280      296      278                    856

[156 rows x 4 columns]

Pivoted DataFrame for Aggregators with Overall Count and All Hubs:
DCAT                        1-23APR  1-23JUN  1-23MAY  REV Source Type Count
Opportunity Hub
REVOLT HUB FARIDABAD              0        2        0                     59
REVOLT HUB GURGAON                1        1        0                     59
REVOLT HUB DWARKA SEC 5           0        0        0                     59
REVOLT HUB GUJRANWALA TOWN        1        0        0                     59
REVOLT HUB KANTI NAGAR            0        0        0                     59
...                             ...      ...      ...                    ...
REVOLT HUB KANNUR                 0        0        0                     59
REVOLT HUB GODHRA                 0        0        0                     59
REVOLT HUB CUTTACK                0        0        0                     59
REVOLT HUB RANCHI                 0        0        0                     59
Overall                          21       19       19                     59

[156 rows x 4 columns]

Combined DataFrame for all REV Source Types with Overall Count and All Hubs:
DCAT                                    1-23APR  1-23JUN  1-23MAY  \
            Opportunity Hub
Organic     REVOLT HUB FARIDABAD              0        0        0
            REVOLT HUB GURGAON                4        5        1
            REVOLT HUB DWARKA SEC 5           0        0        1
            REVOLT HUB GUJRANWALA TOWN        0        0        0
            REVOLT HUB KANTI NAGAR            2        0        0
...                                         ...      ...      ...
Aggregators REVOLT HUB KANNUR                 0        0        0
            REVOLT HUB GODHRA                 0        0        0
            REVOLT HUB CUTTACK                0        0        0
            REVOLT HUB RANCHI                 0        0        0
            Overall                          21       19       19

DCAT                                    REV Source Type Count
            Opportunity Hub
Organic     REVOLT HUB FARIDABAD                          396
            REVOLT HUB GURGAON                            396
            REVOLT HUB DWARKA SEC 5                       396
            REVOLT HUB GUJRANWALA TOWN                    396
            REVOLT HUB KANTI NAGAR                        396
...                                                       ...
Aggregators REVOLT HUB KANNUR                              59
            REVOLT HUB GODHRA                              59
            REVOLT HUB CUTTACK                             59
            REVOLT HUB RANCHI                              59
            Overall                                        59

[624 rows x 4 columns]

In [33]:
pivoted_df

TRCompleted_DCAT            1-14APR  1-14JUN  1-14MAY
Opportunity Hub
REVOLT HUB FARIDABAD              5        8        4
REVOLT HUB GURGAON                7       11        3
REVOLT HUB DWARKA SEC 5           1        3        0
REVOLT HUB GUJRANWALA TOWN        4        0        3
REVOLT HUB KANTI NAGAR            7        0        1
...                             ...      ...      ...
REVOLT HUB KANNUR                 0        0        0
REVOLT HUB GODHRA                 0        9        0
REVOLT HUB CUTTACK                0        3        0
REVOLT HUB RANCHI                 0        1        0
Overall                         545     1770      486

[156 rows x 3 columns]

In [ ]:
import pandas as pd

DD = pd.read_excel("c://jkkkk.xlsx", sheet_name='')

EE = pd.read_excel("c://jkk.xlsx", sheet_name='')

uniquehubs = EE[EE['Opportunity Hub']]

In [25]:
# SRC File

In [26]:
import pandas as pd

SRCDATA = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f.csv")

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\2494209552.py:3: DtypeWarning: Columns (2,19,23,24,25,28,31,32,34,35,36,39,42,43,48,51,52,53,55,56,57,58,59,62,63,66,67,68,69,71,72,74,76,77,81,83,84,86,87,88,90,91,92,93,94,95,96,98,99,100,101,102,103,104,105,106,108,109,110,111,112,113,114,115,116,117,118,119,120,122,123,124) have mixed types. Specify dtype option on import or set low_memory=False.
  SRCDATA = pd.read_csv("C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\All LSQ Data\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f\\OpportunityExport_a3fbded2-4285-4ae0-8387-4ccc65d42b9f.csv")

In [27]:
SRCDATA = SRCDATA[['Mobile Number','Opportunity Id','Created On','Opportunity Hub','REV Opportunity Source','Booking Done on','Retail Done on']]

In [28]:
SRCDATA['Mobile Number'] = SRCDATA['Mobile Number'].str.replace(r'\+91-', '')
SRCDATA['Mobile Number'] = SRCDATA['Mobile Number'].str.strip("'").str.replace("'", "")

#'\+91-': This is the actual pattern within the raw string. Let's break it down further:

#\+: The backslash before the plus sign means that the plus sign is treated as a literal character, not as a special character in regex. Normally, the plus sign in regex means "one or more of the preceding element."
#91: This is a sequence of digits.

#The str.strip("'") and str.replace("'", "") methods in your code are dealing specifically with single quotes, not spaces. Let me clarify what each method does:

#str.strip("'"):

#This method removes single quote characters (') from the beginning and end of each string in the 'Mobile Number' column. It does not affect spaces.
#For example, if the string is "'1234567890'", strip("'") will turn it into "1234567890".
#str.replace("'", ""):

#This method replaces all occurrences of single quote characters (') within the strings with an empty string. This means it removes all single quotes, not just those at the beginning or end.
#For example, if the string is "123'456'7890", replace("'", "") will turn it into "1234567890".

C:\Users\rajat.kapoor\AppData\Local\Temp\ipykernel_32004\3071954077.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  SRCDATA['Mobile Number'] = SRCDATA['Mobile Number'].str.replace(r'\+91-', '')

In [29]:
# Function to extract category based on keywords
def categorize_source(source):
    if pd.isna(source):
        return 'Other'  # or any default category for NaN values
    elif 'Paid' in source:
        return 'Paid'
    elif 'CleverTap' in source:
        return 'Paid'
    elif 'Organic' in source:
        return 'Organic'
    elif 'Dealer Hub' in source:
        return 'Dealer Hub Walk In'
    elif 'Bike Dekho' in source:
        return 'Aggregators'
    else:
        return 'Other'

# Create a new column 'Category' based on 'rev source'
SRCDATA['REV Source Type'] = SRCDATA['REV Opportunity Source'].apply(categorize_source)

In [30]:
# Convert the 'date' column to datetime format
SRCDATA['Created On'] = pd.to_datetime(SRCDATA['Created On'], format='%m/%d/%Y %H:%M')

# Sort the DataFrame by 'date' in descending order
SRCDATA = SRCDATA.sort_values(by='Created On', ascending=False)

In [31]:
SRCDATA.to_excel('C:\\Users\\rajat.kapoor\\OneDrive - RattanIndia Power Limited\\Desktop\\SRCFILE.xlsx')

In [143]:
s3_path = "s3://lsqleadss/output-file.csv/"
dyf_customer_from_s3 = glueContext.create_dynamic_frame_from_options(connection_type = 's3',
                                                                connection_options = {"paths":[s3_path]},
                                                                format = 'json',
                                                                format_options = {"withHeader": True})

NameError: name 'glueContext' is not defined

In [ ]:
# load data into Redshift
dyf_customer_from_s3.write \
    .format("jdbc") \
    .option("url", "jdbc:redshift://redshift-cluster-1.co4rdahu0pqg.ap-south-1.redshift.amazonaws.com:5439/dev") \
    .option("dbtable", "lsqdataschema") \
    .option("user", "awsuser") \
    .option("password", "lsqdataschema") \
    .option("aws_iam_role", "arn:aws:iam::851725461271:role/glue_to_access_s3") \
    .option("tempdir", "s3://redshifttempdirectory/redshift_temp_folder/") \
    .mode("overwrite") \
    .save()